
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<h2>Kişiler Bilgilerim</h2>



<table class="table table-hover" style="margin-top:30px">
    <tr>
        <td>
            <label style="font-weight:bolder">Mail Adresi:</label> @HttpContext.Current.User.Identity.Name
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bolder"> Ad:</label> @TempData["Ad"].ToString()
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bolder"> Soyad:</label> Soyad: @TempData["Soyad"].ToString()
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bolder"> K.Adı:</label> @TempData["K.Adi"].ToString()
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bolder"> Şifre:</label> @TempData["Sifre"].ToString() 
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bolder"> Okul:</label> @TempData["Okul"].ToString()
        </td>
    </tr>
</table>